body  {
	background-color: #FFFFFD;
	font-family: 'Commissioner', sans-serif;
	margin: 0px;
	padding: 0px;
        overflow-y:scroll;
}

h1{
	text-align:	center;
	padding : 1%;
	 
 	background-color: #373a40;
	color:  #EEEEEE;
	margin-top: 0%;
	 margin-bottom: 3% ;
}
h2 {
	display: inline;
	padding-right: 6%;

	text-align: center;
	color: #393939;
}

h2:hover {
	text-decoration: underline;
}

.newBookButton {
	padding: 1%;
	font-size: 2vw;
	background-color: #393939;
	color: #EEEEEE;
	float: right;
    outline: none ;
    border: none;
    border-radius: 10px;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
 	
}
.newBookButton:hover {
	transform: scale(1.1);

}

.leftStatus {
	padding-left: 27%;
}
 .rightStatus {
 	padding-right: 27%;
 }

.newBook {
	margin-right: 3% ;
}

.bookRec {
	width: 50px;
	height: 70px;
	background-color: white;
	border: 1px solid black;
}

#bookTitle , #bookAuthor , #bookPages {
	background-color: white;
	padding: 0.5%;
	margin-left: 3%;
	border: none;
	outline: none;
	margin-bottom: 5%;
}

.booksContainer {
	display: none;
	background-color: #b2deec;
	color: #393939;
	margin: 3% 37%   0% 37%;
	padding: 2%;
	text-align: center;
	border: 2px solid black;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
}

.saveBtn {
	border: none;
	outline: none;
	margin-top:  2%;
	padding:  3%;
	background-color: white;
}

.displayBook {
	width: 90%;
	height: auto;
	margin: 7% 5% 15% 5% ;	
	display: grid;
    grid-template-columns:   25% 25% 25% 25%  ;
    grid-row-gap:  20%;

}

.bookContent {
 	border-radius: 10px;
    margin:  0% ;
	width: 85%;
	height: 120%;
	background-color:   #ccff90;
	color:  black;
	padding: 0%  3%  0%  3%  ;
 	text-align: center;
   	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.19), 0px 3px 3px rgba(0, 0, 0, 0.23);
}

.removeBookBtn {
	border: none;
	outline: none;
	margin-top:  2%;
	padding:  6%;
	background-color: #373a40;
	color: white;
 	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.19), 0px 3px 3px rgba(0, 0, 0, 0.23);
	border-radius: 6px;

}

.removeBookBtn:hover{
	outline: auto;
}

.bookContent:hover{
	border: 2px solid black;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.19), 0px 3px 3px rgba(0, 0, 0, 0.23);
}

@media (max-width: 1024px){
	body{
		font-size:  2vw;
	}
 
.leftStatus {
	padding-left: 15%;
}

 .rightStatus {
 	padding-right:  15%;
 }

 .booksContainer {
	display: none;
	background-color: #b2deec;
	color: #393939;
	margin: 3% 16%   0% 16%;
	padding: 10%;
	text-align: center;	 
}

.saveBtn {
	margin-top:  15%;
    padding:  5%;
 
}
.removeBookBtn {
	font-size: 1.5vw;
}
}

@media (max-width: 726px){
	.displayBook {
	width: 90%;
	height: auto;
	margin: 7% 7% 15% 7% ;	
	display: grid;
    grid-template-columns:    100%  ;
    grid-row-gap:  23%;
}

body {
	margin: 0px;
	padding: 0px;
 }
}

@media (min-width: 1500px) {
h1 {
    font-size: 3vw;
  }
  h2 {
  	font-size: 1.7vw;
  }
  body {
  	font-size: 1.1vw;
  }
}

h1:hover {
	color: #a6f6f1;
}

/* so cli ssh works :o */
